.nav{
    top: 0;
    width: 100%;
    display: flex;
    position: absolute;
    background-color: #07070A;
    justify-content: space-around;

    h3{
        padding: 2px;
        margin: 20px;
        font-weight: 300;
        border: solid 2px #ecf0f1;

        a{
            color: #ecf0f1;
            text-decoration: none;
        }
    }
}